/* fond de la page */
body {
  background-color: #4968e6;
  padding: 0 20px;
}
/* style pour l'index.php  */
.titreindex {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.titreindex p {

  font-size: 25px;
  color: white;
}
/* style pour les balise h de  différente importance */
h1{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2{
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* affichage pour les formulaire */

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  font-size: 20px;
  text-align: center;
}
/* style des boutons pour envoyé des les formulaire de connextion de compte et création */
input[type="submit"], input[type="button"] {
  background-color: #3f51b5;
  color: #fff;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #2c3e50;
}


label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}



/* image logo de blablazone */
img[alt="fp"]{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  width: 15%;

}
/* image page slogan du blablazone */
img[alt="fp2"]{
  position: fixed;
  bottom: 0;
  right: 10;
  padding: 10px;
  width: 25%;
}                                   

/* bouton inscription et connexion de la page index */
.inscription, .connexion {
 display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  position: relative;
}
/* style des boutons de confirmation de motification ou suppression d'un post */
.button_confirmation{
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 500px; /* Utiliser la hauteur complète de la fenêtre pour centrer les boutons */
}


/* centrer les post dans la page  */
.post_fil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /* .post_fil .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */

/* pour les boutons supprimer et modifier de la page profil  */
.post_fil button {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
/* style de l'affichage du texte des balises p */
.post_fil p {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 50px;
}


/* pour les lien hypertexte */

/* pour la subrillance quand on passe sur les lien hyper texte pour naviguer dans le site */
a:hover {
  background-color: lightblue;
}

a {
  color: white;
  background-color: blue;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.lien a {
  color: #fff; 
 text-decoration: none;
 border-bottom: 1px solid #0077cc;
}
.lien p {
 text-align: left;
 color: rgb(27, 59, 156);
 font-size: 20px;
 margin-top: 20px;
 margin-bottom: 20px;
}
footer{
  position: absolute;
  bottom: 20px;
  left: 30px;
}

