
body {
  background-color: #4968e6;
  padding: 0 20px;
}
h1{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2{
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  font-size: 20px;
  text-align: center;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}
.post_fil p {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 50px;
}



img[alt="fp"]{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  width: 15%;

}
img[alt="fp2"]{
  position: fixed;
  bottom: 0;
  right: 10;
  padding: 10px;
  width: 25%;
}
.highlight, .connexion {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 500px; /* Utiliser la hauteur complète de la fenêtre pour centrer les boutons */
}
a {
  color: white;
  background-color: blue;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: lightblue;
}

.post_fil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_fil .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post_fil button {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}


