.post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 20px;
}

.post-container img {
  width: 3%;   
}

.post-container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
  flex: 1;
}

.post-container p {
  margin: 0;
}

.post-container button {
  margin-top: 10px;
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.post-container button:first-child {
  margin-right: 10px;
}
